*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #1f315e;
    color:#1f315e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border: 2px solid #c25942;
}
.header-line1{
    padding: 0.5rem 1rem 0rem 1.5rem;
    font-weight: bolder;
    word-spacing: 0.3rem;
    font-size: 24px;
}
.header-line2{
    padding: 0.2rem 1rem 0.5rem 1rem;
    font-weight: bolder;
    font-size: 65%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.one-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.one-column{
    display: flex;
    flex-direction: column;
}
.second-section{
    padding: 2%;
}
select{
    height: 130%;
    font-size: 10px;
}
.dropdown{
padding-top: 2%;
}
#dropdownid{
    width: 150%;
}

.emailtype {
    width: 100%;
    position: relative;
    display: flex;
}

.entermail {
    width: 100%;
    padding: 5px;
    height: 15px;
    outline: none;
}
.subscribebutton {
    background: black;
    text-align: center;
    color: #fff;
}

.center-heading{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.blog-list{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.blog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
}
.blog-intro{
    word-wrap:break-word;
}

footer{
    background-color: #1f315e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright-text{
   padding: 1rem;
   font-size: 8px;
 }
 .read-more-button{
   background: #c25942;
   color:white;
   border: none;
   font-size: 8px;
   padding: 0.5rem 1rem;
 }
 
.blog-title{
  color:#c25942;
}
.blog-describe{
  font-size: 8px;
}
.blog-intro{
  font-size: 12px;
}
@media (min-width: 750x) { 
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .second-section{
      flex-direction: column;
    }
    .dropdown-category{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dropdown{
    width: 30%;
    display: flex;
    align-items: center;
    padding-bottom: 0.2rem;
    padding-left: 0px;
    padding-right: 0px;
    }
.small-title{
     font-size: 14px ;
}
.subscribe-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emailtype{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    padding-top: 0px;
    margin-top: -10px;
}
.small-subscribe{
    font-size: 10px;
}
}